@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

.top-bar {
    width:100%;
    height: 92px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    padding: 15px;
}

.top-bar .logo {
    font-size: 44px;
    font-family: 'Righteous', cursive;
}

.top-bar .slogan {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.container {
    padding: 122px 0;
    height: 100%;
    background-color: #E5E5E5;
}

.section-name {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin-left: 18px;
}

.menu {
    width: 100%;
    display: flex;
    margin-top: 18px;
    margin-bottom: 30px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu::-webkit-scrollbar {
    display: none;
}

.option {
    height: 216px;
    width: 172px;
    border: none;
    border-radius: 9px;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    margin-left: 18px;
    padding: 0 14px;
    text-align: start;
}

.option:last-child {
    margin-right: 18px;
}

.option img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-top: 10px;
}

.option .name {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-top: 8px;
}

.option .detail {
    font-size: 15px;
    font-weight: 300;
    color: #A6A6A6;
    margin-top: 8px;
    margin-right: 14px;
}

.option .price {
    font-size: 16px;
    color: #000000;
    margin-top: 8px;
}

.option .amount {
    display: none;
}

.bottom-bar {
    width: 100%;
    height: 92px;
    line-height: 92px;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bottom-bar.not-selected :last-child {
    display: none;
}

.bottom-bar.not-selected :first-child {
    display: initial;
}


.bottom-bar .orderButton {
    display: none;
    height: 61px;
    width: 364px;
    vertical-align: middle;
    border-radius: 50px;
    font-size: 20px;
    background-color: #CBCBCB;
    color: #FFFFFF;
    border: none;
    padding: 0 70px;
}

.bottom-bar .orderSelected {
    display: initial;
    background-color: #32B72F;
    font-weight: 700;
}

.confirm-order {
    width: 377px;
    height: 353px;
    background-color: #50D074;
    position: fixed;
    top: calc(50% - calc(353px / 2));
    right: calc(50% - calc(377px / 2));
    text-align: center;
    padding: 20px 20px;
    border-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
}

.confirm-order .title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.confirm-order .order {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #FFFFFF;
}

.confirm-order .order .items p {
    text-align: start;
    margin-bottom: 15px;
}

.confirm-order .order .prices p {
    text-align: end;
    margin-bottom: 15px;
}

.confirm-order .order .bold {
    font-weight: 700;
}

.confirm-order .end-order {
    width: 329px;
    height: 52px;
    background-color: #FFFFFF;
    color: #50D074;
    border-radius: 100px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 15px 0;
}

.confirm-order .cancel-order {
    background-color: #50D074;
    color: #FFFFFF;
    border: none;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.hide {
    display: none;
}

.selected {
    border: 5px solid #32B72F;
    padding: 0 9px;
    position: relative;
}

.selected .amount {
    display: initial;
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 16px;
}

.selected .amount .minus {
    color: #CF2B2B;
    margin-right: 5px;
}

.selected .amount .plus {
    color: #32B72F;
    margin-left: 5px;
}

.blur-background {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}